:root {
  --gubat-banwa-carmine: #e30044;
  --gubat-banwa-carmine-darker: #90002b;
  --gubat-banwa-red-darker: #7c1315;
  --gubat-banwa-orange: #fb8a4c;
  --gubat-banwa-orange-darker: #f26821;
  --gubat-banwa-gold: #cdac0c;
  --gubat-banwa-brown-darker: #5d1715;
  --gubat-banwa-green: #00a76a;
  --gubat-banwa-blue-lighter: #7186f0;
  --gubat-banwa-blue: #232e51;
  --gubat-banwa-violet-lighter: #9972ec;
  --gubat-banwa-violet: #2e1134;
  --gubat-banwa-off-white: #f0f0e0;
  --gubat-banwa-white: #ffffff;

  --gubat-banwa-font-headings: serif;

  --gubat-banwa-color-text-light: var(--gubat-banwa-white);
}
