<form id="dialog-difficulty">
    <div class="form-group">
        <label>{{localize "GUBAT_BANWA.Categories.Difficulty"}}</label>
        <div class="form-fields">
            <select name="difficulty">
                {{selectOptions difficultyChoices labelAttr="label" valueAttr="key" localize=true}}
            </select>
        </div>
    </div>
</form>
