<form id="dialog-stats">
    {{!-- Choose Stat for Rolling --}}
    <div class="form-group">
        <label>{{localize "GUBAT_BANWA.UI.RollWith"}}</label>
        <div class="form-fields">
            <select name="stat">
                {{selectOptions statChoices labelAttr="label" valueAttr="key" localize=true}}
            </select>
        </div>
    </div>
</form>
