<div class="gubat-banwa-chat">
    {{#if title}}
    <header class="gubat-banwa-chat__name">
        <h2>{{title}}</h2>
    </header>
    {{/if}}
    {{#if content}}
        {{{content}}}
    {{/if}}
</div>
