@mixin npc {
  .npc {

    .trait {
      display: flex;
      align-items: center;
      gap: 1rem;

      &__content {
        flex: 1;
      }

      &__name {
        width: 100%;
        margin-bottom: 0.25rem;
      }
    }
  }
}
